<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header::headFrag('Main')}"></head>

<link rel="stylesheet" th:href="@{/css/main.css(ver=1.0)}">
<link rel="stylesheet" th:href="@{/css/user/logBox.css(ver=1.0)}">
<script th:src="@{/js/lib/jquery-3.6.4.min.js}"></script>
<script th:src="@{/js/user/userFn.js}"></script>

<script>
/* 메인배너 변환 */
var imgArray=new Array();
imgArray[0]="/images/main/bigBanner1.png";
imgArray[1]="/images/main/bigBanner2.png";

function showImage(){
	 var imgNum=Math.round(Math.random()*1);
	 var objImg=document.getElementById("bigBanner");
	 objImg.src=imgArray[imgNum];
	 setTimeout(showImage,2000);
}

/* 클래스 카테고리 바 */
function fnList(classCategory) {
   location.href='class/classList.do?classCategory=' + classCategory;   
}
function fnNew(){
   location.href='class/classListNew.do';
}
</script>

<body onload="showImage()">

<div th:replace="~{/layout/header::gnbFrag}"></div>

<div class="main_container">
  
  	<div class="main_top">
  		<div class="main_top_L">
	  		<div class="login_box">
	  			<!-- 로그인이 안되어 있을 경우 -->
	  			<th:block th:if="${session.loginId == null}">
						<div class="loginWord">
							로그인하시고 하루배움의 <br> 다양한 튜터를 만나보세요.
						</div>
						<div>
							<button class="loginBtn" onclick="location.href='/user/login.html'">로그인하기</button>
						</div>
						<div class="linkWrap">
							<div>
								<span onclick="fnFindId()">아이디 찾기</span>
								<span>&nbsp;|&nbsp;</span>
								<span onclick="fnFindPw()">비밀번호 찾기</span>
							</div>
							<div onclick="location.href='/user/join.html'" style="cursor: pointer;">회원가입</div>
						</div>
		  		</th:block>
		  		 <!-- 로그인이 되어 있을 경우 -->
		  		<th:block th:if="${session.loginId != null}">
		  			<div class="welcomeBox">
							<form id="profileFrm" method="get" th:action="@{/user/myProfile.html}">
								<input type="hidden" name="loginId" th:value="${session.loginId}">
			  				<img th:src="@{${session.userImgPath}}" class="profile" onclick="$('#profileFrm').submit()">
			  			</form>
			  			<div>
			  				<span th:text="${session.userName}"style="font-size: 22px; font-weight: 600;"></span> 님
			  			</div>
			  			<form method="post" th:action="@{/user/logout.do}">
			  				<input type="hidden" th:value="${session.loginId}" name="loginId">
				  			<button class="logoutBtn">로그아웃</button>
			  			</form>
		  			</div>
			  		<div class="eventBox">
			  			<div th:onclick="|openCoupon(${session.userNo})|" >쿠폰 <span th:text="${couponCount}"></span>장</div>
			  			<div onclick="openPoint()">포인트 <span th:text="${session.userPoint}"></span>P</div>
			  		</div>
			  		<div class="serviceBox">
			  			<div onclick="openMessage()">메세지</div>
			  			<div>수강 목록</div>
			  			<div>찜 목록</div>
			  		</div>
		  		</th:block>
		  		
	  		</div>
	  		<div class="smallBanner1"></div>
  		</div>
  		<div class="main_top_R">
	  		<div>
	  			<img src="" id="bigBanner">
	  		</div>
  		</div>
  	</div>
  
		<div class="main_middle">
        <div class="smallBanner2"></div>
        <div class="classBar_Container">
           <ul id="class_Bar">
              <li onclick="fnList('all')"><img th:src="@{/images/main/all.png}" width="50px"><p>전체클래스</p></li>
              <li onclick="fnNew()"><img th:src="@{/images/main/new.png}" width="50px"><p>최신클래스</p></li>
              <li onclick="fnList('cooking')"><img th:src="@{/images/main/cooking3.png}" width="50px"><p>요리/베이킹</p></li>
              <li onclick="fnList('fitness')"><img th:src="@{/images/main/fitness.png}" width="50px"><p>피트니스</p></li>
              <li onclick="fnList('dance')"><img th:src="@{/images/main/dance.png}" width="50px"><p>댄스</p></li>
              <li onclick="fnList('design')"><img th:src="@{/images/main/design.png}" width="50px"><p>디자인</p></li>
              <li onclick="fnList('study')"><img th:src="@{/images/main/study.png}" width="50px"><p>공부</p></li>
           </ul>
        </div>
     </div>
  
  	<div class="class_Container">
  		<table>
  			<thead>
  				<tr>
  					<td></td>
  				</tr>
  			</thead>
  			<tbody id="ClassTableBody">
       
  			</tbody>
  		</table>
  	</div>
  </div>
  
</body>
</html>