@charset "UTF-8";

.profileContainer {
	display:flex;
}

.profileWrap {
	margin: 0 auto;
	margin-top: 60px;
	width: 1100px;
}
.sectionLine {
	width: 100%;
	height: 2px;
	background-color: #d6d6d9;
	border-radius: 20%;
}
.profileTitle {
	font-size: 25px;
	font-weight: 500;
	
}
.profileImgArea {
	text-align: center;	
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	margin: 10px auto;
	position: relative;
}
.profileImgArea img {
	width: 150px;
	height: 150px;
	position: absolute;
	left: 0;
	cursor: pointer;
}
.InfoArea {
	padding: 30px 0;
	display: flex;
}
.category {
	width: 200px;
	height: 40px;
	line-height: 40px;
}
.content {
	height: 40px;
	line-height: 40px;
}
.userId {
	font-size: 15px;
	color: #888888;
}

.modifyPw {
	width: 130px;
	height: 40px;
	background-color: #ea334b;
	color: white;
	border-radius: 4px;
}
.userTel {
	outline: none;
}
.userTel, .userName {
	width: 200px;
	font-size: 15px;
	padding-left: 7px;
	border: 1.5px solid #888888;
	border-radius: 4px;
	margin-right: 10px;	
}

.modifyName {
	width: 80px;
	height: 40px;
	background-color: #ea334b;
	color: white;
	border-radius: 4px;
}
















