body {
    margin-top: 200px;
}

a {
    color: black; /* 링크의 색상을 검정색으로 변경 */
}
ul {
    list-style-type: none;
    padding-left: 0;
}

.profile-image img {
    border-radius: 50%;
    margin-top: 14px;
}

.review-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-section {
    flex: 1;
    margin-left: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.profile-info p {
    margin: 5px 0;
}

.attachment-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.attachment-list li {
    margin-top: 5px;
}

.attachment-list img {
    max-width: 100%;
    height: auto;
}

.like-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.like-count {
    margin-left: 5px;
}

.like-button {
    width: 18px;
    height: 18px;
    background: url('/images/review/heart.png') no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

#review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#review p {
    text-align: center;
}

#reviewList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0;
}

#images1 {
    width: 40px;
    height: 40px;
}

#images2 {
    width: 100px;
    height: 100px;
}

#link {
    margin-left: 400px;
}

/* 리뷰 별점 */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    margin-bottom: 38px;
    justify-content: flex-start;
}

.rating input {
    display: none;
}

.rating label {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    background: url('star-empty.png') no-repeat;
    background-size: contain;
    cursor: pointer;
    vertical-align: middle;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
    background: url('star-field.png') no-repeat;
    background-size: contain;
}