<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reviewList</title>
    <link rel="stylesheet" href="/css/reviewList.css" />
</head>

<script>

	function likeReview(reviewNo) {
	    // 좋아요 버튼 요소 가져오기
	    const buttonId = `likeButton_${reviewNo}`;
	    const likeButton = document.getElementById(buttonId);
	    // 이미 좋아요를 누른 경우 경고창 표시
	    if (likeButton.classList.contains('liked')) {
	        alert('이미 좋아요를 누르셨습니다.');
	        return;
	    }
	    // 서버로 좋아요 요청 전송
	    fetch(`/like/${reviewNo}`, {
	        method: 'POST',
	    })
	        .then(response => response.json())
	        .then(data => {
	            if (data.success) {
	                // 좋아요 버튼 텍스트 업데이트
	                likeButton.textContent = `Like (${data.likeCount})`;
	                // 좋아요 버튼 스타일 변경
	                likeButton.classList.add('liked');
	            }
	        })
	        .catch(error => {
	            console.error('Error:', error);
	        });
	}
	
	function openPopup() {
	    // 팝업 창을 열기 위한 설정
	    var popupWidth = 500;
	    var popupHeight = 1000;
	    var left = (screen.width - popupWidth) / 2;
	    var top = (screen.height - popupHeight) / 2;
	    var popupOptions = 'width=' + popupWidth + ', height=' + popupHeight + ', left=' + left + ', top=' + top;
	    // 팝업 창을 열고 해당 HTML 페이지를 로드
	    window.open('/review/write', '리뷰 작성', popupOptions);
	}
    
</script>

<body>

	<!-- 리뷰 목록 -->
	<div id="review" class="tab-content">
	    <!-- 리뷰 별점의 평균 출력 -->
	    <p> 평점: <span th:text="${averageRating}"></span></p>
		<div>
		    <a th:href="javascript:void(0);" onclick="openPopup()">리뷰 작성하기</a>
		</div>
	    <ul id="reviewList">
	        <!-- 리뷰들을 리뷰 번호(REVIEW_NO) 내림차순으로 정렬 -->
	        <li class="review-container" th:each="review : ${reviewList}">
	        	<div class="left-section">
	                <!-- 회원의 프로필사진(0이면 기본 프로필 사진, 1이면 회원이 등록한 프로필 사진) -->
					<div class="profile-image" th:class="${review.userDTO.userHasImg == 1} ? 'profile-image' : 'profile-image no-image'">
					    <img id="images1" th:if="${review.userDTO.userHasImg == 1}" th:src="${review.userDTO.userImgPath}" alt="Profile Image">
					    <img id="images1" th:unless="${review.userDTO.userHasImg == 1}" src="https://img.taling.me/Content/Images/placeholders/profile-default.thumb.jpg" alt="Default Profile Image">
					</div>
            	</div>
				<div class="right-section">
					<!-- 회원 정보 -->
					<div class="profile-info">
						<!-- 닉네임 -->
		                <p style="margin-bottom: 5px;" th:text="${review.userDTO.userName}"></p>
		                <!-- 리뷰 작성 시간 -->
		                <p style="font-size: 12px; color: #999999;" th:text="${review.writeDate}"></p>
		            </div>
		            <!-- 리뷰 내용 -->
		            <p style="text-align: center;" th:text="${review.reviewContent}"></p>
		            <!-- 리뷰 작성 시 첨부한 이미지들 출력 -->
		            <div>
		                <ul class="attachment-list">
		                    <li th:each="attach : ${review.reviewAttachList}">
		                        <img id="images2" th:if="${attach.thumbnail == 1}" th:src="${attach.path}" alt="Attachment Image">
		                        <span th:if="${attach.thumbnail == 0}"></span>
		                    </li>
		                </ul>
		            </div>
	            	<!-- 좋아요 기능 -->
		            <div class="like-container">
		               <button class="like-button" th:id="'likeButton_' + ${review.reviewNo}" th:text="'Like (' + ${review.likeCount} + ')'" th:attr="onclick='likeReview(' + ${review.reviewNo} + ')'"></button>
		               <span class="like-count">0</span>
		            </div>
	            </div>
			</li>
		</ul>
	</div>

</body>
</html>