<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="init.css" />
  </head>
  <body>
    <div>
      <div id="headerWrap">
        <div id="headerLogo">
          <img src="onedayLogo.jpeg" width="130px;" />
        </div>
        <div id="headerSearchArea">
          <form action="#">
            <input id="searchBar" placeholder="하루의 배움을 만나보세요~" />
            <button>돋보기</button>
          </form>
        </div>
        <nav id="headerNav">
          <ul>
            <li>
              <p>튜터메뉴</p>
            </li>
            <li>
              <p>메세지</p>
            </li>
            <li>
              <p>클래스신청서</p>
            </li>
            <li>
              <p>수강목록</p>
            </li>
            <li>
              <p>찜</p>
            </li>
            <li>
              <p>프로필</p>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
