<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header::headFrag('로그인')}"></head>
<link rel="stylesheet" th:href="@{/css/user/login.css(ver=1.0)}">
<link rel="stylesheet" th:href="@{/css/header.css(ver=1.0)}">
<script th:src="@{/js/user/reg.js}"></script>

<body>
	<div th:replace="~{/layout/header::gnbFrag}"></div>
	<div id="loginWrap">
		<div class="loginBox">
			<div class="loginTitle">
				 <div>간편하게 로그인하고 하루배움의<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;다양한 튜터를 만나보세요.</div>
			</div>	
			<form id="loginFrm" method="post" th:action="@{/user/login.do}">
				<div class="loginInput">
					<div class="inputWrap">
						<div class="idArea">
							<input id="userId" name="userId" placeholder="이메일 (halbae@halbae.com)">
							<div class="idLine"></div>
						</div>
						<div>
							<input type="password" id="userPw" name="userPw" placeholder="비밀번호 (숫자 대소문자 특수문자 포함 4~20자 이상)">
							<i class="fa-regular fa-eye-slash viewPw" onclick="togglePw()"></i>
							<div class="idLine"></div>
						</div>
					</div>
				</div>
			</form>
					<div id="reg"></div>
				<div class="loginBtnArea">
					<div class="btnWrap">
							<button onclick="checkInfo()">로그인 하기</button>
						<div class="linkWrap">
							<span>비밀번호 찾기</span>
							<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
							<span><a th:href="@{/user/join.html}">회원가입</a></span>
						</div>
					</div>
				</div>
			
	  </div>
  </div>
</body>
</html>